<div class="feedback-select-responsible" ng-controller="Skybrud.Feedback.SelectResponsibleController" ng-class="{loading: loading}">
    <h3>Select responsible</h3>
    <loader></loader>
    <div ng-if="!loading && users != null">
        <ul>
            <li ng-class="{selected: entry.assignedTo == null}">
                <i class="icon-wrong"></i>
                <a href="#" prevent-default="" ng-click="selectResponsible(null);">No responsible</a>
            </li>
            <li ng-repeat="user in users" ng-class="{selected: entry.assignedTo && entry.assignedTo.id == user.id}">
                <i class="icon-user"></i>
                <a href="#" prevent-default="" ng-click="selectResponsible(user);">{{user.name}}</a>
            </li>
        </ul>
    </div>
    <a href="#" prevent-default="" ng-click="close()" class="btn">Cancel</a>
</div>