.feedbackHeader {
  display: flex;
  margin-bottom: 20px;
}
.feedbackHeader h3 {
  flex-grow: 1;
  margin: 0;
  font-size: 25px;
  line-height: 25px;
}
.feedbackListOptions {
  display: flex;
  margin-bottom: 20px;
}
.feedbackListOptions select {
  width: initial;
}
.feedbackListFilters {
  flex-grow: 1;
}
.feedbackList {
  position: relative;
}
.feedbackList em {
  color: #ccc;
}
.feedbackList .umb-load-indicator {
  display: none;
}
.feedbackList.loading > table > tbody > tr > td {
  opacity: 0.5;
}
.feedbackList.loading .umb-load-indicator {
  display: initial;
}
.feedbackList > table {
  width: 100%;
  border: 1px solid #d9d9d9;
}
.feedbackList > table > thead {
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
  background-color: #f8f8f8;
}
.feedbackList > table > thead th {
  text-align: left;
  border-bottom: 1px solid #dbdbdb;
}
.feedbackList > table > thead a.sortable {
  cursor: pointer;
}
.feedbackList > table > tbody td.page {
  width: 100%;
}
.feedbackList > table > tbody td.nowrap {
  white-space: nowrap;
}
.feedbackList > table > * > tr {
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
.feedbackList > table > * > tr.expanded > td {
  border-bottom: 1px solid white;
}
.feedbackList > table > * > tr > td,
.feedbackList > table > * > tr > th {
  padding: 8px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #dbdbdb;
}
.feedbackList > table > * > tr > td:last-child,
.feedbackList > table > * > tr > th:last-child {
  border-right: 1px solid #dbdbdb;
}
.feedbackList > table .empty td {
  height: 200px;
  line-height: 200px;
  text-align: center;
}
.feedbackList > table > tfoot {
  background: #f8f8f8;
}
.feedbackList > table > tfoot > tr > th {
  padding: 0 10px;
}
.feedbackList .view .label {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  display: block;
  padding: 0;
  text-shadow: none;
  white-space: nowrap;
  vertical-align: baseline;
  background: initial;
  float: left;
  color: #333;
  font-weight: normal;
  text-transform: none;
  font-size: 14px;
}
.feedbackList .view .value {
  margin-left: 125px;
  color: #000;
}
.feedbackList .data th,
.feedbackList .data td {
  padding: 0 8px;
  line-height: 30px;
  vertical-align: top;
}
.feedbackList .data tr.rating > td > div,
.feedbackList .data tr.status > td > div {
  position: relative;
  padding-left: 22px;
}
.feedbackList .data .circle {
  position: absolute;
  top: 7px;
}
.feedbackList .options {
  padding: 8px 0 8px 8px;
}
.feedbackList .spacer {
  height: 1px;
  background: #dbdbdb;
  margin: 5px 8px 10px 8px;
}
.feedbackList .pagination.pagination-left {
  margin: 0;
  padding: 0;
  font-size: 11px;
  font-weight: normal;
  line-height: 35px;
}
.feedbackList .pagination ul {
  background: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0);
}
.feedbackList .pagination ul > li > a,
.feedbackList .pagination ul > li > span {
  padding: 8px 4px 2px 4px;
  font-size: 11px;
  color: #b0b0b0;
  background: 0;
  border: 0;
}
.feedbackList .pagination ul > li.active > a,
.feedbackList .pagination ul > li > a:hover {
  color: #000;
}
.feedbackList .pagination ul > li.disabled > a,
.feedbackList .pagination ul > li.disabled > a:hover {
  color: #d9d9d9;
}
.feedback-overview.umb-modal.fade.in,
.feedback-modal.umb-modal.fade.in {
  bottom: 0;
  overflow-y: auto;
}
.feedback-overview .rating > div,
.feedback-modal .rating > div,
.feedback-overview .status > div,
.feedback-modal .status > div {
  position: relative;
  padding-left: 24px;
}
.feedback-overview .circle,
.feedback-modal .circle {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 0;
  top: 2px;
  border-radius: 50%;
}
.feedback-overview .circle.positive,
.feedback-modal .circle.positive,
.feedback-overview .circle.closed,
.feedback-modal .circle.closed {
  background: #6BA114;
}
.feedback-overview .circle.negative,
.feedback-modal .circle.negative,
.feedback-overview .circle.new,
.feedback-modal .circle.new {
  background: #A41F03;
}
.feedback-overview .circle.inprogress,
.feedback-modal .circle.inprogress {
  background: #D3A839;
}
.feedback-modal > div {
  padding: 10px;
}
.feedback-modal .circle {
  top: 4px;
}
.feedback-modal h3 {
  margin-top: 0;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
}
.feedback-modal ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.feedback-modal li.selected {
  font-weight: bold;
}
.feedback-modal .feedback-change-status > div,
.feedback-modal .feedback-select-responsible > div,
.feedback-modal .FeedbackUserPickerDialog > div {
  margin-bottom: 15px;
}
.feedback-modal .feedback-change-status li {
  position: relative;
  line-height: 24px;
  padding-left: 24px;
}
.feedback-modal .feedback-select-responsible li,
.feedback-modal .FeedbackUserPickerDialog li {
  line-height: 24px;
}
.feedback-modal .feedback-select-responsible i,
.feedback-modal .FeedbackUserPickerDialog i {
  padding-right: 2px;
}
.feedbackColumnsPreValueEditor ul,
.feedbackFiltersPreValueEditor ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
