<div class="feedback-overview" ng-controller="Skybrud.Feedback.SiteListController">

    <div class="list" ng-class="{loading: loading}">
        <table>
            <thead>
                <tr>
                    <th>
                        <a href="#" prevent-default="" ng-click="sort('pagename', 'asc');"><localize key="feedback_labelPage">Page</localize></a>
                        <i class="icon" ng-class="{'icon-navigation-down': isSortDirection('pagename', 'asc'), 'icon-navigation-up': isSortDirection('pagename', 'desc')}"></i>
                    </th>
                    <th ng-if="model.config.showAssignedToColumn"><localize key="feedback_labelAssignedTo">Assigned to</localize></th>
                    <th ng-if="model.config.showNameColumn"><localize key="feedback_labelName">Name</localize></th>
                    <th><localize key="feedback_labelComment">Comment</localize></th>
                    <th>
                        <a href="#" prevent-default="" ng-click="sort('rating', 'asc');"><localize key="feedback_labelRating">Rating</localize></a>
                        <i class="icon" ng-class="{'icon-navigation-down': isSortDirection('rating', 'asc'), 'icon-navigation-up': isSortDirection('rating', 'desc')}"></i>
                    </th>
                    <th>
                        <a href="#" prevent-default="" ng-click="sort('status', 'asc');"><localize key="feedback_labelStatus">Status</localize></a>
                        <i class="icon" ng-class="{'icon-navigation-down': isSortDirection('status', 'asc'), 'icon-navigation-up': isSortDirection('status', 'desc')}"></i>
                    </th>
                    <th>
                        <a href="#" prevent-default="" ng-click="sort('created', 'desc');"><localize key="feedback_labelAdded">Added</localize></a>
                        <i class="icon" ng-class="{'icon-navigation-down': isSortDirection('created', 'asc'), 'icon-navigation-up': isSortDirection('created', 'desc')}"></i>
                    </th>
                </tr>
            </thead>
            <tbody ng-if="!items || items.length == 0" class="empty">
                <tr>
                    <td colspan="6"></td>
                </tr>
            </tbody>
            <tbody ng-repeat="item in items">
                <tr ng-click="item.expanded = (item.expanded ? false : true);" style="cursor: pointer;" ng-class="{expanded: item.expanded}">
                    <td class="page">
                        <span ng-show="item.page">{{item.page.name}}</span>
                        <span ng-show="!item.page"><em>Siden findes ikke længere (ID: {{item.pageId}})</em></span>
                    </td>
                    <td class="nowrap" ng-if="model.config.showAssignedToColumn">
                        <span ng-show="item.assignedTo">{{item.assignedTo.name}}</span>
                        <span ng-show="!item.assignedTo"><em><localize key="feedback_labelNoResponsible">No responsible</localize></em></span>
                    </td>
                    <td class="nowrap" ng-if="model.config.showNameColumn">
                        <span ng-show="item.name">{{item.name}}</span>
                        <span ng-show="!item.name"><em><localize key="feedback_labelNotSpecified">Not specified</localize></em></span>
                    </td>
                    <td class="nowrap">
                        <div ng-show="item.comment.length > 0"><localize key="feedback_labelYes">Yes</localize></div>
                        <div ng-show="item.comment.length < 1"><localize key="feedback_labelNo">No</localize></div>
                    </td>
                    <td class="nowrap rating">
                        <div>
                            <div class="circle {{item.rating.alias}}"></div>
                            {{item.rating.name}}
                        </div>
                    </td>
                    <td class="nowrap status">
                        <div>
                            <div class="circle {{item.status.alias}}"></div>
                            {{item.status.name}}
                        </div>
                    </td>
                    <td class="nowrap">
                        {{item.created}}
                    </td>
                </tr>
                <tr ng-show="item.expanded">
                    <td colspan="7" style="padding: 0;">

                        <div class="spacer"></div>

                        <table class="data">
                            <tr>
                                <th><localize key="feedback_labelId">ID</localize></th>
                                <td>{{item.id}}</td>
                            </tr>
                            <tr>
                                <th><localize key="feedback_labelPageId">Page ID</localize></th>
                                <td>{{item.pageId}}</td>
                            </tr>
                            <tr>
                                <th><localize key="feedback_labelPageTitle">Page Title</localize></th>
                                <td>
                                    <span ng-show="item.page">{{item.page.name}}</span>
                                    <span ng-show="!item.page"><em>The page no longer exists</em></span>
                                </td>
                            </tr>
                            <tr>
                                <th><localize key="feedback_labelPageUrl">URL</localize></th>
                                <td>
                                    <span ng-show="item.page">
                                        {{item.page.url}}
                                    </span>
                                    <span ng-show="!item.page"><em>The page no longer exists</em></span>
                                </td>
                            </tr>
                            <tr>
                                <th><localize key="feedback_labelAssignedTo">Assigned to</localize></th>
                                <td>
                                    <span ng-show="item.assignedTo">
                                        {{item.assignedTo.name}}
                                    </span>
                                    <span ng-show="!item.assignedTo"><em><localize key="feedback_labelNoResponsible">No responsible</localize></em></span>
                                </td>
                            </tr>
                            <tr class="rating">
                                <th><localize key="feedback_labelRating">Rating</localize></th>
                                <td>
                                    <div>
                                        <div class="circle {{item.rating.alias}}"></div>
                                        {{item.rating.name}}
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th><localize key="feedback_labelName">Name</localize></th>
                                <td>
                                    <span ng-show="item.name">{{item.name}}</span>
                                    <span ng-show="!item.name"><em><localize key="feedback_labelNotSpecified">Not specified</localize></em></span>
                                </td>
                            </tr>
                            <tr>
                                <th><localize key="feedback_labelEmail">E-mail</localize></th>
                                <td>
                                    <span ng-show="item.email">{{item.email}}</span>
                                    <span ng-show="!item.email"><em><localize key="feedback_labelNotSpecified">Not specified</localize></em></span>
                                </td>
                            </tr>
                            <tr>
                                <th><localize key="feedback_labelAdded">Added</localize></th>
                                <td>{{item.created}}</td>
                            </tr>
                            <tr class="status">
                                <th><localize key="feedback_labelStatus">Status</localize></th>
                                <td>
                                    <div>
                                        <div class="circle {{item.status.alias}}"></div>
                                        {{item.status.name}}
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th><localize key="feedback_labelComment">Comment</localize></th>
                                <td>
                                    <div ng-show="item.comment.length > 0" ng-repeat="line in item.$comment">
                                        <div style="min-height: 11px;">{{line.text}}</div>
                                    </div>
                                    <span ng-show="item.comment.length == 0"><em><localize key="feedback_labelNotSpecified">Not specified</localize></em></span>
                                </td>
                            </tr>
                        </table>

                        <div class="options">
                            <a href="#" class="btn" ng-click="archive(item.id)" prevent-default=""><localize key="feedback_btnArchive">Archive</localize></a>
                            <a href="#" class="btn" ng-click="openChangeStatus(item)" prevent-default=""><localize key="feedback_btnSelectStatus">Select status</localize></a>
                            <a href="#" class="btn" ng-click="openSelectResponsible(item)" prevent-default=""><localize key="feedback_btnSelectResponsible">Select responsible</localize></a>
                            <a ng-show="item.page" href="/umbraco/#/content/content/edit/{{item.pageId}}" class="btn"><localize key="feedback_btnShowInUmbraco">Show in Umbraco</localize></a>
                            <a ng-show="item.page" href="{{item.page.url}}" target="_blank" class="btn"><localize key="feedback_btnShowAtWebsite">Show at website</localize></a>
                        </div>

                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="7">
                        <div class="pull-left"></div>
                        <div class="pagination pagination-right" style="margin: 0;">
                            <ul>
                                <li ng-class="{disabled:pagination.page <= 1}">
                                    <a href="#" ng-click="prev()" prevent-default="">
                                        <localize key="general_previous" class="ng-isolate-scope ng-scope">Previous</localize>
                                    </a>
                                </li>
                                <li ng-repeat="pgn in pagination.pagination" ng-class="{active: pgn.isActive}">
                                    <a href="#" ng-click="updateList(pgn.val)" prevent-default="">{{pgn.val}}</a>
                                </li>
                                <li ng-class="{disabled:pagination.page >= pagination.pages}" class="">
                                    <a href="#" ng-click="next()" prevent-default="">
                                        <localize key="general_next" class="ng-isolate-scope ng-scope">Next</localize>
                                    </a>
                                </li>
                            </ul>
                        </div>

                    </th>
                </tr>
            </tfoot>


        </table>
        <loader></loader>
    </div>

</div>