<div class="feedback-overview" ng-controller="Skybrud.Feedback.SiteListController">
    
    <!--<div class="feedbackHeader">
        <h3>
            Listing feedback for site
        </h3>
    </div>-->

    <div class="feedbackListOptions" ng-show="!selectionCount">
        <div class="feedbackListFilters">
            <select ng-if="model.config.filters.rating" ng-options="item as item.name for item in filters.ratings track by item.value" ng-model="selected.rating"></select>
            <select ng-if="model.config.filters.responsible" ng-options="item as item.name for item in filters.users track by item.value" ng-model="selected.responsible"></select>
            <select ng-if="model.config.filters.status" ng-options="item as item.name for item in filters.statuses track by item.value" ng-model="selected.status"></select>
            <select ng-if="model.config.filters.type" ng-options="item as item.name for item in filters.types track by item.value" ng-model="selected.type"></select>
        </div>
        <div class="feedbackListActions">
            <button type="button" class="btn btn-default" ng-click="deleteAll()">
                <i class="icon icon-trash"></i>
                <localize key="feedback_btnCleaning">Cleaning</localize>
            </button>
            <button type="button" class="btn btn-default" ng-click="refresh()">
                <i class="icon icon-refresh"></i>
                <localize key="feedback_labelRefresh">Refresh</localize>
            </button>
        </div>
    </div>
    <div class="feedbackListOptions" ng-show="selectionCount > 0">
        <div class="left">
            <button type="button" class="btn btn-default">
                <localize key="buttons_clearSelection">Clear selection</localize>
            </button>
            <strong>{{selectionCount}} valgt</strong>
        </div>
        <div class="right">
            <button type="button" class="btn btn-default" ng-click="archiveSelection(item)"><localize key="feedback_btnArchive">Archive</localize></button>
            <button type="button" class="btn btn-default" ng-click="deleteSelection(item)"><localize key="feedback_btnDelete">Delete</localize></button>
            <div style="margin: 0 15px; width: 1px; background: #d8d7d9;"></div>
            <button type="button" class="btn btn-default has-circle" ng-repeat="status in statuses" ng-click="setStatusForSelection(status)">
                <div class="circle {{status.alias}}"></div>
                {{status.name}}
            </button>
        </div>
    </div>
    <div class="feedbackList" ng-class="{loading: loading}">
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th ng-if="model.config.columns.rating">
                        <a href="#" prevent-default="" ng-click="sort('rating', 'asc');"><localize key="feedback_labelRating">Rating</localize></a>
                        <i class="icon" ng-class="{'icon-navigation-down': isSortDirection('rating', 'asc'), 'icon-navigation-up': isSortDirection('rating', 'desc')}"></i>
                    </th>
                    <th ng-if="model.config.columns.pagename">
                        <a href="#" prevent-default="" ng-click="sort('pagename', 'asc');"><localize key="feedback_labelPage">Page</localize></a>
                        <i class="icon" ng-class="{'icon-navigation-down': isSortDirection('pagename', 'asc'), 'icon-navigation-up': isSortDirection('pagename', 'desc')}"></i>
                    </th>
                    <th ng-if="model.config.columns.responsible"><localize key="feedback_labelResponsible">Responsible</localize></th>
                    <th ng-if="model.config.columns.name"><localize key="feedback_labelName">Name</localize></th>
                    <th ng-if="model.config.columns.comment"><localize key="feedback_labelComment">Comment</localize></th>
                    <th ng-if="model.config.columns.status">
                        <a href="#" prevent-default="" ng-click="sort('status', 'asc');"><localize key="feedback_labelStatus">Status</localize></a>
                        <i class="icon" ng-class="{'icon-navigation-down': isSortDirection('status', 'asc'), 'icon-navigation-up': isSortDirection('status', 'desc')}"></i>
                    </th>
                    <th ng-if="model.config.columns.added">
                        <a href="#" prevent-default="" ng-click="sort('created', 'desc');"><localize key="feedback_labelAdded">Added</localize></a>
                        <i class="icon" ng-class="{'icon-navigation-down': isSortDirection('created', 'asc'), 'icon-navigation-up': isSortDirection('created', 'desc')}"></i>
                    </th>
                </tr>
            </thead>
            <tbody ng-if="!items || items.length == 0" class="empty">
                <tr>
                    <td colspan="7">
                        <div ng-show="!loading">
                            <div ng-show="!hasFilter">
                                <localize key="feedback_labelNoEntriesSite">There are currently no active entries.</localize>
                            </div>
                            <div ng-show="hasFilter">
                                <localize key="feedback_labelNoEntriesSiteWithFilter">There are currently no entries matchign the selected criteria.</localize>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
            <tbody ng-repeat="item in items">
                <tr ng-click="toggleExpanded(item, $event)" style="cursor: pointer;" ng-class="{expanded: item.expanded}">
                    <td class="col-checkbox">
                        <input type="checkbox" ng-model="item.selected" ng-click="onSelectionUpdate(item)" />
                    </td>
                    <td class="nowrap rating" ng-if="model.config.columns.rating">
                        <div>
                            <div class="circle {{item.rating.alias}}"></div>
                            {{item.rating.name}}
                        </div>
                    </td>
                    <td class="page" ng-if="model.config.columns.pagename">
                        <span ng-show="item.page">{{item.page.name}}</span>
                        <span ng-show="!item.page"><em>Siden findes ikke længere (ID: {{item.pageId}})</em></span>
                    </td>
                    <td class="nowrap" ng-if="model.config.columns.responsible">
                        <span ng-show="item.assignedTo">{{item.assignedTo.name}}</span>
                        <span ng-show="!item.assignedTo"><em><localize key="feedback_labelNoResponsible">No responsible</localize></em></span>
                    </td>
                    <td class="nowrap" ng-if="model.config.columns.name">
                        <span ng-show="item.name">{{item.name}}</span>
                        <span ng-show="!item.name"><em><localize key="feedback_labelNotSpecified">Not specified</localize></em></span>
                    </td>
                    <td class="nowrap" ng-if="model.config.columns.comment">
                        <div ng-show="item.comment.length > 0"><localize key="feedback_labelYes">Yes</localize></div>
                        <div ng-show="item.comment.length < 1"><localize key="feedback_labelNo">No</localize></div>
                    </td>
                    <td class="nowrap status" ng-if="model.config.columns.status">
                        <div>
                            <div class="circle {{item.status.alias}}"></div>
                            {{item.status.name}}
                        </div>
                    </td>
                    <td class="nowrap" ng-if="model.config.columns.added">
                        {{item.created}}
                    </td>
                </tr>
                <tr ng-show="item.expanded">
                    <td colspan="8" style="padding: 0;">

                        <div class="spacer"></div>

                        <table class="data">
                            <tr>
                                <th><localize key="feedback_labelId">ID</localize></th>
                                <td>{{item.id}}</td>
                            </tr>
                            <tr>
                                <th><localize key="feedback_labelPageId">Page ID</localize></th>
                                <td>{{item.pageId}}</td>
                            </tr>
                            <tr>
                                <th><localize key="feedback_labelPageTitle">Page Title</localize></th>
                                <td>
                                    <span ng-show="item.page">{{item.page.name}}</span>
                                    <span ng-show="!item.page"><em>The page no longer exists</em></span>
                                </td>
                            </tr>
                            <tr>
                                <th><localize key="feedback_labelPageUrl">URL</localize></th>
                                <td>
                                    <span ng-show="item.page">
                                        {{item.page.url}}
                                    </span>
                                    <span ng-show="!item.page"><em>The page no longer exists</em></span>
                                </td>
                            </tr>
                            <tr>
                                <th><localize key="feedback_labelAssignedTo">Assigned to</localize></th>
                                <td>
                                    <span ng-show="item.assignedTo">
                                        {{item.assignedTo.name}}
                                    </span>
                                    <span ng-show="!item.assignedTo"><em><localize key="feedback_labelNoResponsible">No responsible</localize></em></span>
                                </td>
                            </tr>
                            <tr class="rating">
                                <th><localize key="feedback_labelRating">Rating</localize></th>
                                <td>
                                    <div>
                                        <div class="circle {{item.rating.alias}}"></div>
                                        {{item.rating.name}}
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th><localize key="feedback_labelName">Name</localize></th>
                                <td>
                                    <span ng-show="item.name">{{item.name}}</span>
                                    <span ng-show="!item.name"><em><localize key="feedback_labelNotSpecified">Not specified</localize></em></span>
                                </td>
                            </tr>
                            <tr>
                                <th><localize key="feedback_labelEmail">E-mail</localize></th>
                                <td>
                                    <span ng-show="item.email"><a href="mailto:{{item.email}}">{{item.email}}</a></span>
                                    <span ng-show="!item.email"><em><localize key="feedback_labelNotSpecified">Not specified</localize></em></span>
                                </td>
                            </tr>
                            <tr>
                                <th><localize key="feedback_labelAdded">Added</localize></th>
                                <td>{{item.created}}</td>
                            </tr>
                            <tr class="status">
                                <th><localize key="feedback_labelStatus">Status</localize></th>
                                <td>
                                    <div>
                                        <div class="circle {{item.status.alias}}"></div>
                                        {{item.status.name}}
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th><localize key="feedback_labelComment">Comment</localize></th>
                                <td>
                                    <div ng-show="item.comment.length > 0" ng-repeat="line in item.$comment">
                                        <div style="min-height: 11px;">{{line.text}}</div>
                                    </div>
                                    <span ng-show="item.comment.length == 0"><em><localize key="feedback_labelNotSpecified">Not specified</localize></em></span>
                                </td>
                            </tr>
                        </table>

                        <div class="options" style="display: flex;">
                            <a href="#" class="btn" ng-click="archive(item)" prevent-default=""><localize key="feedback_btnArchive">Archive</localize></a>
                            <a href="#" class="btn" ng-click="delete(item)" prevent-default=""><localize key="feedback_btnDelete">Delete</localize></a>
                            
                            <div class="vspacer"></div>
                            <button type="button" class="btn btn-default has-circle" ng-repeat="status in statuses" ng-click="setStatus(item, status)">
                                <div class="circle {{status.alias}}"></div>
                                {{status.name}}
                            </button>
                            <div class="vspacer"></div>
                            <!--<a href="#" class="btn" ng-click="openChangeStatus(item)" prevent-default=""><localize key="feedback_btnSelectStatus">Select status</localize></a>-->
                            <a href="#" class="btn" ng-click="openSelectResponsible(item)" prevent-default=""><localize key="feedback_btnSelectResponsible">Select responsible</localize></a>
                            <a ng-show="item.page" href="/umbraco/#/content/content/edit/{{item.pageId}}" class="btn"><localize key="feedback_btnShowInUmbraco">Show in Umbraco</localize></a>
                            <a ng-show="item.page" href="{{item.page.url}}" target="_blank" class="btn"><localize key="feedback_btnShowAtWebsite">Show at website</localize></a>
                        </div>

                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="8">
                        <div class="pull-left pagination pagination-left" style="margin: 0;">
                            <div ng-show="pagination.page > 0 && pagination.total > 0">
                                Viser {{pagination.offset + 1}}-{{pagination.offset + items.length}} af {{pagination.total}} &ndash; Side {{pagination.page}} af {{pagination.pages}}
                            </div>
                        </div>
                        <div class="pagination pagination-right" style="margin: 0;">
                            <ul>
                                <li ng-class="{disabled:pagination.page <= 1}">
                                    <a href="#" ng-click="prev()" prevent-default="">
                                        <localize key="general_previous" class="ng-isolate-scope ng-scope">Previous</localize>
                                    </a>
                                </li>
                                <li ng-repeat="pgn in pagination.pagination" ng-class="{active: pgn.isActive}">
                                    <a href="#" ng-click="updateList(pgn.val)" prevent-default="">{{pgn.val}}</a>
                                </li>
                                <li ng-class="{disabled:pagination.page >= pagination.pages}" class="">
                                    <a href="#" ng-click="next()" prevent-default="">
                                        <localize key="general_next" class="ng-isolate-scope ng-scope">Next</localize>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </th>
                </tr>
            </tfoot>
        </table>
        <umb-load-indicator></umb-load-indicator>
    </div>
    
    <umb-overlay ng-if="overlay.show" model="overlay" position="right" view="overlay.view"></umb-overlay>

</div>