<div class="FeedbackUserPickerDialog" ng-controller="Skybrud.Feedback.UserPickerDialogController" ng-class="{loading: loading}">

    <h3><localize key="feedback_headerSelectUser">Select user</localize></h3>
    <loader></loader>
    <div ng-if="!loading && users != null">
        <ul>
            <li ng-repeat="user in users">
                <i class="icon-user"></i>
                <a href="#" prevent-default="" ng-click="select(user);">{{user.name}}</a> <span style="font-size: 12px;">({{user.email}})</span>
            </li>
        </ul>
    </div>
    <a href="#" prevent-default="" ng-click="close()" class="btn"><localize key="cancel">Cancel</localize></a>

</div>